{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Used by Facebook, Pinterest, Google -->
        <meta property="og:title" content="About"/>
        <meta property="og:url" content="https://www.borinati.com/about"/>
        <meta property="og:image" content="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg">
        <meta property="og:site_name" content="Borinati">
        <meta property="og:description" content="Borinati is a place to ask questions based on Science and Social Science."/>
    
        <!--Used exclusively by Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="About">
        <meta name="twitter:url" content="https://www.borinati.com/about"/>
        <meta name="twitter:image" content="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg"/>
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <link rel="shortcut icon" href="https://scontent.fabb1-2.fna.fbcdn.net/v/t39.30808-6/286283908_111367944934856_7702637904057720739_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE3TBlF_wtQ4ky1RNTBddHk_4zWFdP1333_jNYV0_Xffb8oSspbRwn0EniQxG-uis7Bp-HxqtHvEBAV2xxpYx4L&_nc_ohc=3ouYM5xCkiYAX_ztPgT&_nc_zt=23&_nc_ht=scontent.fabb1-2.fna&oh=00_AT9LL2LTeJ4ZcETXNrg0CNTNvqerdTLwvCYV3Hla9IrSeg&oe=62A83358">
</head>
<style>
    @media (min-width: 992px) {
  .navbar-nav li {
    margin-left: 5px;
  }
}

  .navbar-nav li {
    margin-bottom: 5px;
  }
  /*p {
  font-style: italic;
}*/
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-body">
        <div class="container">
            <a class="navbar-brand" href="">
                <h3>Borinati</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="btn btn-primary shadow-sm" aria-current="page" 
                    href="{% url 'Home' %}">Home</a></li>
                    <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                        href="{% url 'FeedBack' %}">Contact</a></li>
                    <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                        href="{% url 'login' %}">Log in</a></li> 
                        <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                            href="{% url 'register' %}">Sign Up</a></li>  
                </ul>
            </div>
        </div>
    </nav>
          <div class="container-fluid bg-success shadow-sm">
            <div class="container">
              <br>
              <br>
              <h3 class="text-center text-light">What Is Borinati?</h3>
             <h2 class="text-light text-center">Borinati is a platform that allow user to ask question or answer other people
              question based on science and social science.
              </h2>
              <br>
              <br>
            </div>
          </div>
          <div class="container-fluid shadow-lg bg-body">
            <div class="container">
              <br>
              <br>
              <h3 class="text-center text-primary">Why You Should Register At Borinati!</h3>
              <p class="text-center">
                Hello, my name is <b>Adamu Abdulkarim Dee</b>, C.E.O and Co-Founder of Borinati. A few years later, i heared some people complaining about world education system, some people said, it 
                does not help student in achieving their goal, while other said it does, but it takes so many time to achieve their
                goals, in the other hand also said, it is the student that does not focus on their goals, but i think my story
                when i was a student will reveal the mystery of the situations. One and the half year of graduation from a High School/Secondary School, I decided to be a <a href="https://en.wikipedia.org/wiki/Web_developer">Web Developer</a>
                and <a href="https://developer.android.com/">Mobile Developer</a>,
                I know that, before to be a developer those days, you need to go to the school to study <a href="https://en.wikipedia.org/wiki/Information_technology">Information Technology</a>,
                so i got my admission into <a href="https://en.wikipedia.org/wiki/College">College, Under Diploma in Information Technology</a>. 
                After two months of getting an admission into the school, we started studying, but what i saw in the school
                is different from what is in the internet school like: <a href="https://www.w3schools.com/">W3Schools</a>.
                As a students that want to become a Developer, What concern me with learning <a href="https://en.wikipedia.org/wiki/Microsoft_Office">Microsoft Office</a>
                like: Microsoft Word, Microsoft Excell, Microsoft Power Point, Microsoft Access and Microsoft Publisher? 
                while the only thing I want is to study how to write a program that computer can understand, ofcourse they
                are teaching how to write a program, but what they are written a program in it is different from what i saw on <b>Internet</b>.
                In the school, they are teaching us <a href="https://en.wikipedia.org/wiki/COBOL">Cobol Programming Language</a>
                which at that time nobody is written any program with it, after finishing first semester, what i learned through the internet
                is better than what we taught in school, after i have given my story to a graduate of Computer Science,
                he told me: When he was in university, one of their lecturer used to teach them with Power Ponint Presentation Software,
                which he only read us what is in the Power Point without any explanation or examples,
                he is teaching us like a nursery pupils. I did not say all school are like my story when i was a student.
            </p>
            <br>
            <h3 class="text-primary text-center">Mission</h3>
      <h5 class="text-center">My mission is to build strong community where Professional, Intermediate and Begineers would collaborate to share world 
        knowledge for a better Society.</h5>
        <br>
        
            </div>
          </div>
      <div class="container text-center shadow-sm bg-body">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h5>Members</h5>
                <h1 class="text-primary">{{users}}</h1>
                <hr>
            </div>

            <div class="col-md-4">
                <h5>Questions</h5>
                <h1 class="text-primary">{{questions}}</h1>
                <hr>
            </div>

            <div class="col-md-4">
                <h5>Answers</h5>
                <h1 class="text-primary">{{answers}}</h1>
                <hr>
            </div>
        </div>
      </div>
      <br>
      <div class="text-center text-primary">
        <h2>Available Courses</h2>
      </div>
      <br>
      <div class="container shadow-lg bg-body">
        <div class="row justify-content-center">
          {% for category in categories %}
          <div class="col-md-2">
            <div class="card my-2">
              <div class="card-body">
                <a href="" class="btn btn-primary" style="color: white;">{{ category.name }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://res.cloudinary.com/drivemetech/image/upload/v1660493097/IMG_20220719_111120_333_tfngoc.jpg" 
                    class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-center text-primary">
                        <a href="https://web.facebook.com/comr.adam.52">Adamu Abdulkarim Dee.
                          <br>
                        </a><br>
                        <p>Co-founder and C.E.O of Borinati.</p>
                        
                      </h5>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <br>
      <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>