<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borinati Homepage</title>

    <!--Used by Facebook, Pinterest, Google -->
    <meta property="og:title" content="Borinati Homepage">
    <meta property="og:url" content="https://www.borinati.com/">
    <meta property="og:image" content="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg">
    <meta property="og:site_name" content="Borinati">
    <meta property="og:description" content="Borinati is a place to ask question based on Science And Social Science.">

    <!--Used exclusively by Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Borinati Homepage">
    <meta name="twitter:url" content="https://www.borinati.com/">
    <meta name="description" content="Borinati is a place to ask questions based on Science And Social Science.">
    <meta name="twitter:image" content="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <link rel="shortcut icon" type="image/jpg" href="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    @media (min-width: 992px) {
  .navbar-nav li {
    margin-left: 5px;
  }
}

  .navbar-nav li {
    margin-bottom: 5px;
  }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-body">
    <div class="container">
        <a class="navbar-brand" href="">
            <h3>Borinati</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="btn btn-primary shadow-sm" aria-current="page" 
                href="{% url 'About' %}">About</a></li>
                <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                    href="{% url 'FeedBack' %}">Contact</a></li>
                <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                    href="{% url 'login' %}">Log in</a></li> 
                    <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                        href="{% url 'register' %}">Sign Up</a></li>  
            </ul>
        </div>
    </div>
</nav>
      <br>
    <div class="container">
        <div class="row justify-content-center">
          <form action="" method="GET">
            <input placeholder="Search By Category" type="text" class="form-control" name="q">
        </form>
       </div>
      </div> 
      <br>
    <div class="container">
        <div class="row justify-content-center">
            {% for question in list_of_question reversed %}
            <div class="col-md-4">
                <div class="card my-2">
                    <div class="card-header shadow-sm bg-body">
                    <a href="{% url 'Public_Profile' question.user.profile.slug %}">
                        {{question.user.username}}
                    </a>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'view-Question' question.slug %}" style="text-decoration: none;">
                        {{question.title}}
                        </a>
                        <br>
                        <br>
                        <p class="btn btn-primary disabled btn-sm">{{question.category}}</h5>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>