<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Used by Facebook, Pinterest, Google -->
    <meta property="og:title" content="Terms Of Use">
    <meta property="og:url" content="https://www.borinati.com/Terms-Of-Use">
    <meta property="og:image" content="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg">
    <meta property="og:site_name" content="Borinati">
    <meta property="og:description" content="Borinati is a place to ask question based on Science And Social Science."/>

    <!--Used exclusively by Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Terms Of Use">
    <meta name="twitter:url" content="https://www.borinati.com/Terms-Of-Use">
    <meta name="twitter:image" content="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="shortcut icon" sizes="32x32" type="image/jpg" href="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg"/>
    <link rel="shortcut icon" sizes="16x16" type="image/jpg" href="https://res.cloudinary.com/drivemetech/image/upload/v1655308776/ygnvjkbw8tzeqaxhuwxl.jpg"/>



    <title>Terms Of Use</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
</head>
<style>
    @media (min-width: 992px) {
  .navbar-nav li {
    margin-left: 5px;
  }
}

  .navbar-nav li {
    margin-bottom: 5px;
  }
  p {
  font-style: italic;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-body">
        <div class="container">
            <a class="navbar-brand" href="">
                <h3>Borinati</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="btn btn-primary shadow-sm" aria-current="page" 
                    href="{% url 'Home' %}">Home</a></li>
                    <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                        href="{% url 'About' %}">About</a></li>
                    <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                        href="{% url 'FeedBack' %}">Contact</a></li> 
                        <li class="nav-item"><a class="btn btn-primary shadow-sm" 
                            href="{% url 'login' %}">Log in</a></li>  
                </ul>
            </div>
        </div>
    </nav>
    <br>

    <div class="container">
        <h1>Terms Of Use</h1>
        <p>By accessing this platform, you are agreeing to these Terms of Use,
        If you do not agree with any of these terms, you are prohibited from using or accessing this site. </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
        <p>1. All users in Borinati must ask question based on categories provided by the platform.</p>
        <p>2. When a person want to ask question in Borinati, He/She it wiil be good to be focus on what you want to ask, if possible, you should look for somebody to look at the question, 
        because Borinati has Professional for answering Your Question.</p>
        <p>3. You should be patients, when your question is not answered, Somebody from another place will give you an answer or you 
        can share your question on: Facebook and Twitter.</p>
        <p>4. A question in Borinati must be asked in English Language only, and must be answered in English Language only,
            since we are no longer accepting any other languages.
        </p>
        <p>5. Every person that wish to give an answer, have to make sure that it is Legit answer, because people can use the answer for their Assigments or Projects, 
        and your Username may serves as a reference, please becareful.</p>
        <p>6. In Borinati You can not own an account more than one, if you create more than one account, 
        we will deleted the rest and leave you with one you created for the first time.</p>
        <p>7. Borinati is not created for dis-respecting any Culture, Religion or Country, I created this platform for People who want to gain or share their Knowledge to others.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Site Terms of Use Modifications</h2>
        <p>The platform may revise these Terms of Use at any time without notice. 
        By using this platform you are agreeing the current version of these Terms of Use.</p>
    </div>
    <br>
    <br>
     <!-- Bootstrap core JS-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>